* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

body {
    font-family: "Noto Serif JP";
    writing-mode: horizontal-tb;
    text-orientation: upright;
    background-color: #e6e2d7;
}

header {
    background-image: url(img/mainvisual-pc.jpg);
    background-size: cover;
    width: 100%;
    height: 1200px;
    position: relative;
    top: 0;
    right: 0;
    writing-mode: vertical-rl;
}

h1 {
    padding: 60px 80px 0 60px;
}

h1 img {
    width: 40px;
    height: 91.57px;
}

nav li {
    padding-top: 20px;
    padding-left: 24px;
}

nav a {
    color: #fff;
}

.btn {
    position: fixed;
    bottom: 30px;
    left: 40px;
    width: 68px;
    height: 252px;
    background: rgba(255, 255, 255, 0.2);
}

.btn a {
    color: #fff;
    display: block;
    border: 1px solid #ccc;
    text-align: center;
    padding: 14px;
    margin: 8px;
}

.btn a:hover {
    opacity: 0.7;
}

main {
    writing-mode: vertical-rl;
}

.news {
    width: 1024px;
}

.en {
    font-size: 14px;
    color: #000;
}

.ja {
    font-size: 36px;
    color: #000;
}

/* responsive */
@media (max-width: 768px) {
    header {
        background-image: url(img/mainvisual-sp.jpg);
    }
}
