* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

body {
    font-family: "Noto Serif JP";
    background-color: #e6e2d7;
    margin: 0;
}

header {
    background-image: url(img/mainvisual-pc.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0;
    right: 0;
    writing-mode: vertical-rl;
    margin-bottom: 180px;
}

h1 {
    padding: 60px 80px 0 60px;
}

h1 img {
    width: 40px;
    height: 91.57px;
}

nav li {
    padding-top: 20px;
    padding-left: 24px;
}

nav a {
    color: #fff;
}

.btn {
    position: absolute;
    bottom: 30px;
    left: 40px;
    width: 68px;
    height: 252px;
    background: rgba(255, 255, 255, 0.2);
}

.btn a {
    color: #fff;
    display: block;
    border: 1px solid #ccc;
    text-align: center;
    padding: 14px;
    margin: 8px;
}

.btn a:hover {
    opacity: 0.7;
}

.news {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding-left: 20px;
    margin-bottom: 180px;
}

.title {
    writing-mode: vertical-rl;
}

.news .en {
    font-size: 14px;
    font-weight: normal;
    color: #000;
    display: block;
    margin-left: 15px;
}

.news .ja {
    font-size: 36px;
    font-weight: normal;
    color: #000;
    display: block;
    padding-left: 100px;
    letter-spacing: 1.6px;
}

.list {
    writing-mode: vertical-rl;
    padding-top: 80px;
}

dl {
    border-right: 1px solid #000;
    padding: 0 30px;
}

dt {
    font-size: 12px;
    padding-top: 40px;
}

dd {
    padding-bottom: 15px;
}

.create {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;
    margin-bottom: 180px;
}

.create .title {
    display: flex;
}

.create .ja {
    font-size: 36px;
    font-weight: normal;
    color: #000;
    display: block;
    letter-spacing: 1.6px;
}

.create .en {
    font-size: 14px;
    font-weight: normal;
    color: #000;
    display: block;
    padding: 18px 14px 0 0;
}

.img1 {
    width: 639px;
    padding: 100px 20px 0 0;
    position: relative;
}

.txt1 {
    color: #fff;
    background-color:rgba(249, 233, 6, 0.6);
    width: 100%;
    max-width: 358px;
    height: 146px;
    padding: 50px 0;
    text-align: center;
}

.img1 .txt1 {
    position: absolute;
    bottom: -30px;
    left: -20px;
}

.science {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;
    margin-bottom: 180px;
}

.science .title {
    display: flex;
}

.science .ja {
    font-size: 36px;
    font-weight: normal;
    color: #000;
    display: block;
    letter-spacing: 1.6px;
}

.science .en {
    font-size: 14px;
    font-weight: normal;
    color: #000;
    display: block;
    padding: 18px 14px 0 0;
}

.img2 {
    width: 639px;
    padding: 100px 0 0 20px;
    position: relative;
}

.txt2 {
    color: #fff;
    background-color:rgba(149, 42, 38, 0.6);
    width: 100%;
    max-width: 358px;
    height: 146px;
    padding: 50px 0;
    text-align: center;
}

.img2 .txt2 {
    position: absolute;
    bottom: -30px;
    right: -20px;
}

.map iframe {
    width: 100%;
    height: 450px;
    vertical-align: bottom;
}

footer {
    color: #fff;
    background-color: #000;
    writing-mode: vertical-rl;
    width: 100%;
    display: flex;
    padding: 80px 80px 30px 30px;
}

.inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    width: 40px;
    margin-left: 60px;
}

.inner nav {
    margin-right: 60px;
}

.inner nav li {
    margin-top: -60px;
}

.inner p {
    font-size: 14px;
}

.copy {
    writing-mode: horizontal-tb;
    font-size: 10px;
    text-align: center;
}

/* responsive */
@media (max-width: 768px) {
    header {
        background-image: url(img/mainvisual-sp.jpg);
        background-size: 200%;
        background-position: center;
        margin-bottom: 80px;
    }

    h1 {
        padding: 30px 0 0 40px;
    }

    nav {
        margin-top: -30px;
    }

    .btn {
        left: 20px;
        bottom: 20px;
    }

    .news .list dt:nth-of-type(n + 4) {
        display: none;
    }

    .img1 .txt1 {
        left: 0;
    }

    .img2 .txt2 {
        right: 0;
    }
}
